.form-control {
  text-transform: uppercase;
}
input {
  text-transform: uppercase;
}

.table td {
  text-transform: uppercase;
}
ul li a {
  text-decoration: none;
  color: #000; 
}

 ul li a:hover {
  color: #f00; 
}
